@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');


.author {
    display: flex;
    align-items: center;
    width: 140px;
    justify-content: space-around;
    
}
.author p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}
.author img {
    width: 45px;
    height: 45px;
    background-color: #464646;
    border-radius: 45px;
}


/* MAIN */

main {
    height: auto;
    background-color: rgba(245, 245, 245, 1);
}

.sections {
    width: 1600px;
    position: relative;
    margin: 0 auto;
}

.section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 64px;
    margin-bottom: 16px;
}
.title-1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #464646; 
}
.title-2 button{
    width: 164px;
    height: 51px;
    border: none;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    line-height: 19px;
    background-color: rgba(42, 122, 228, 1);
    cursor: pointer;
}
.title-2 button:hover {
    background-color: rgba(85, 149, 233, 1);
}
.edited-card {
    position: absolute;
    padding-top: 11px;
    padding-left: 183px;
    display: flex;
    justify-content: space-between;
    width: 56px;
    height: 18px;
}
.delete-icon {
    width: 14px;
    height: 18px;
}
.edit-icon {
    width: 18px;
    height: 18px;
}
.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-img{
    width: 250px;
    height: 174px;
    object-fit: cover
}
.cards div > h1 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-top: 8px;
    color: #464646;
}
.cards div > h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-top: 8px;
    color: #464646;
}
.cards div > h3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-top: 8px;
    padding-bottom: 64px;
    color: rgba(70, 70, 70, 1);
}